{% extends "base_generic.html" %}
{% block content %}
        <div class="row mt-5">
          <div class="col">
            <h3>Incomes</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Source</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}  
                    <tr>
                        <th scope="row">{{forloop.counter}}</td>
                        <td>{{income.created_at}}</td>
                        <td>{{income.amount}}</td>
                        <td>{{income.get_source_display}}</td>
                        <td>
                            <a href="/budget/incomes/update/{{ income.id }}">Edit</a>  
                            <a href="/budget/incomes/delete/{{ income.id }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
            <center><a href="/budget/incomes/add" class="btn btn-primary">Add New Income</a></center>  
          </div>
        </div>
{% endblock %}
